<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ood.clean.waterball.agentlearningapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ear_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ear_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:logo="@drawable/ear_icon">
        <activity android:name=".views.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activity.SignUpActivity"/>

        <activity
            android:name=".views.activity.BaseActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar"
            android:icon="@drawable/ear_icon"
            />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>